<div class="container">
  <mat-card>
    <!-- <img src="{{videosdata.data.promo.trailer.images.image_url}}" alt=""> -->
    <mat-card-content> {{videosdata.data.promo[0].title}}</mat-card-content>
    <button mat-raised-button><a href="{{videosdata.data.promo[0].trailer.embed_url}}">Trailer</a></button>
  </mat-card>
    
</div>

<!-- <iframe src="{{videosdata.data.promo[0].trailer.embed_url.split('?')[0]}}" frameborder="0"></iframe> -->

<!-- {{videosdata.data.promo[0].trailer.embed_url.split('?')[0]}} -->