@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

.section{
    /* display: flex; */
    background-color: black;
    width: 100%;
}

.search{
    position: absolute;
    z-index: 99;
    margin-top: -30px;
    font-size: 20px;
    margin-left: 36%;
    font-family: young serif;
    padding: 4px;
    border: none;
    border-radius: 6px;
}

.btns{
    position: absolute;
    z-index: 99;
    margin-top: -30px;
    margin-left: 58%;
    padding: -6px;
}

.bwl{
    position: absolute;
    z-index: 99;
   margin-left: 90%;
   margin-top: -45px;
}

.main{
    padding: 20px;
    display: flex;
    /* flex-direction:; */
    width: 100%;
    font-family: 'Playpen Sans', cursive;
}


.card{
    width: 12rem;
    margin: 2px;
    background-color: black;
    
    
}

.card-body{
    padding:0;
    color: aliceblue;
    
}

.card-body img{
width: 100%;  
height: 280px;  
border-radius: 8px;
}

.hides{
    padding: 5px;
    position: absolute;
    width: 200px;
    height: 15px;
    color: black;
    display: none;  
    margin-top: -10px;
    margin-left: -70px;

    }
.btn:hover .hides{
display:block;
color: white;
}
.hider{
    padding: 5px;
    position: absolute;
    margin-top: -10px;
    width: 200px;
    height: 15px;
    color: black;
    display: none;
    margin-left: -60px;

}
.btn:hover .hider{
    display: block;
    color: white;
}