@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap");

.section {
  width: auto;
  background-color: black;
  width: auto;
  overflow: hidden;
}


.search {
  position: relative;
  z-index: 99;
  /* margin-top: -50px; */
  font-size: 20px;
  /* margin-left: 36%; */
  font-family: young serif;
  padding: 4px;
  border: none;
  border-radius: 6px;
}

.btns {
  /* position: absolute; */
  z-index: 99;
  margin-top: -30px;
  margin-left: 58%;
  padding: -6px;
}

.main-heading {
  font-family: 'Courier New', Courier, monospace;
}

.bwl {
  position: absolute;
  z-index: 99;
  margin-left: 90%;
  margin-top: -45px;
}

.card {
  /* width: 12rem; */
  margin: 2px;
  background-color: black;
}

.card-body {
  padding: 0;
  color: aliceblue;
}

.card-body img {
  width: 100%;
  height: 280px;
  border-radius: 8px;
}

.btn {
  color: gray;
  border: none;
}

.hides {
  padding: 5px;
  position: absolute;
  width: 200px;
  height: 15px;
  color: black;
  display: none;
  margin-top: -10px;
  margin-left: -70px;
}

.btn:hover .hides {
  display: block;
  color: white;
}

.hider {
  padding: 5px;
  position: absolute;
  margin-top: -10px;
  width: 200px;
  height: 15px;
  color: black;
  display: none;
  margin-left: -60px;
}

.btn:hover .hider {
  display: block;
  color: white;
}

.page {
  color: white;
  padding-bottom: 20px;
}

.page div {
  display: flex;
  justify-content: space-between;
}

.listo {
  list-style-type: none;
  display: inline;
}

.search-results {
  height: 80rem;

  scrollbar-width: none;
  /* scrollbar-track-color: black; */

}

/* .poster {
  overflow-y: hidden;
  overflow-x: none !important;
  scrollbar-width: 0px;
  width: 99%;
} */

@media (min-width: 200px) and (max-width: 525px) {
  .poster {
    justify-content: center;
    width: 80%;
  }

  .search-results {
    display: flex;
    justify-content: center;
  }

  .page div {
    display: flex;
    justify-content: space-between;
  }
}