<div class="section">
    <header style="color: white;margin:auto">
        <h1 style="margin-left: 45%;">Manga</h1>
    </header>
    <div class="main">
        <div class="row">
            <div class="col-md-2 mb-1" *ngFor="let item of mangadata.data">
                <div class="card">
                    <div class="card-body">
                        <a  routerLink="/manga-in-detail/{{item.mal_id}}"><img src="{{item.images.jpg.image_url}}" alt=""></a>
                        <label for="">{{item.title}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>