<div class="section">

    <div class="" *ngIf="showanime.length !== 0">
        <header style="color: white;margin:auto">
            <h1 style="margin-left: 45%;padding-top:10px">watchlist</h1>
            <button mat-raised-button class="bwl" (click)="remove_all()">Remove All</button>
        </header>

        <div class="row" >
            <div class="col-md-2 mb-1" *ngFor="let item of showanime">
                <div class="card">
                    <div class="card-body">
                        <a routerLink="/anime/{{item.mal_id}}"><img src="{{item.images.jpg.image_url}}"
                                alt=""></a>
                        <label for="">{{item.title}}</label><button class="btn"
                            (click)="removewatchlist(item)"><mat-icon>bookmark</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showanime.length == 0">
        <div class="cd">
            <div class="center">
                <h1>Wishlist</h1>
                <h3>your wishlist is empty</h3>
                <h4>please add </h4>
                <button routerLink="/anime" class="btn btn-dark" type="button">Home page</button>
            </div>
        </div>
    </div>




</div>

<!-- <div class="section" *ngIf="showanime.lenght==0">
   

</div> -->