<div class="section">
    <label class="title">Manga character</label>
    <div class="main">
        <div class="row poster text-center">
                <div class="col-md-4 col-sm-4 col-xs-6 card" *ngFor="let item of characterdata?.data">
                    <div class="card-body">
                        <div class="row">
                            <div class="img">
                                <img src="{{item.character.images.jpg.image_url}}" alt="image">
                            </div>

                            <div class="detail">
                                <label for="">{{item.character.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>