<section>
    <div class="container">
        <div class="home">
            <button class="btn" routerLink="/anime">Enter Home</button>
            <div class="main">
                <h1>WATCH ANIME ONLINE</h1>
                <p>
                    AnimeAtles is a free streaming anime website that allows you to watch anime online in English subbed and
                    dubbed. Join us and watch anime online for free with ease. Easy access and no registration is required.
                    Our content is updated daily with fast streaming servers and great features that help you easily track
                    and watch your favorite anime. We are confident AnimeAtles is the best free anime streaming site in the
                    space that you can't simply miss!
                </p>
            </div>
        </div>
    </div>
</section>